.employee-creation-page {
  --employee-primary-green: #35753B;
}

.employee-creation-page .MuiFormHelperText-root.Mui-error {
  margin-left: 0;
  margin-right: 0;
}

.employee-creation-page .MuiDialog-paper {
  border-top: 4px solid var(--employee-primary-green);
}
